*{
    margin: 0px;
    padding: 0px;
}
/*CORPO DO SITE*/
body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #ffffff url(../imagens/bg.png);/*nao se colocar o no-repeat pois queremos que a imagem se repita tanto na vertical qunato na horizontal*/
    margin: 15px;/*espaãmentod e 15px tanto em todas direcoes*/
}
#container{
    background: #ede9cc url(../imagens/bg-container.png)top center repeat-y;
    margin: 0 auto;
    min-width: 970px;/*O minimu que a a pag vai reduzir na largura*/
    max-width: 1180px;/*O max que a a pag vai aumentar na largura*/
}
#topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;/*Para as letras ser proporcional a altura do topo*/
    min-height: 250px;/*Para nao diminuir menus que isso*/
}
#area-logo{ 
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../imagens/topo-imagem-principal.png)no-repeat;
    width: 100%;
    height: 250px;
    z-index: 1;/*Cria como camadas essa fica embaixo da MENU*/
}
.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;/*Para forca o texto sair da area da tela*/
}
#area-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../imagens/topo-imagem-lateral.png)no-repeat;

    width: 450px;
    height: 250px;
    z-index: 2;/*Cria como camadas essa fica EMCIMA da AREA LOGO*/
}
#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-cidades span a{
    text-decoration: none;
    color:#8b8448;
}
#menu-cidades span a:hover{
    text-decoration: none;
    color:#655f2b;
    border-radius: 10px;
    text-transform: uppercase;
}

#menu-cidades{
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em; 
}
a{
    text-decoration: none;
}
a.reserva{
    margin-top: -2px;
    padding: 1px;
    border: 1px solid rgb(111, 111, 111);
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    float: right;
}
a.reserva:hover{
    font-size: 0.9em;
}
/*Barra de Navegacao Vertical*/
#menu-navegacao{
    margin-top: 15px;
}
ul{
    list-style:  none;/*Retira os ponto ao lado dos links*/
}
ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 27px;
}
ul#navegacao a:hover{
    background: #fdf6be87;
    
}
ul#navegacao{
    float: left;     
}
#img-menu{
    width: 226px;
    height: 164px;
    float: right;
}
/***Area Principal e Lateral***/
#area-principal{
    float: left;
    width: 49.4%;
    background: url(../imagens/bg-area-principal.png)top left repeat-x;
    padding: 15px 0px;
}
#area-lateral{
    float: right;
    width: 49.4%; 
    background: url(../imagens/bg-area-lateral.png)top left repeat-x;
    padding: 20px 0px;
}
.conteudo{
    margin: 0 auto;
    width: 90%;
}
h2{
    color: #7d7640;
    font-size: 1.4em;
    font-style: oblique;
    padding: 5px 0px;
}
p{
    font-size: 1em;
    margin-bottom: 10px;
}
/***Lateral***/
#areas-do-hotel li{
    margin-top: 8px;
    padding: 6px;
    border-bottom: 2px solid #f3efcb;
    height: 110px; /*ou 7em*/
}
#areas-do-hotel li a img{
    float: right;
    margin-right: 5px;
    border: 2px solid #615b2d;
}
#areas-do-hotel li a p{
    font-size: 0.9em;
    color: black;  
}
#areas-do-hotel li h3{
    padding-bottom: 5px;
    font-size: 1.1em;
    color: #615b2d;
    background: url(../imagens/ornamento.png) no-repeat center;
}
#areas-do-hotel li:hover{
    background-image: linear-gradient(to right, #7d76406d, #fdf6be87);
    cursor: pointer;
}

/***Rodape***/
#rodape-falso{
    clear: both;/*Para REMOVER O FLUXO FLUTUANTE E FAZER APARECER A IMAGEM DE FUNDO*/   
}
#rodape{
    margin: 0 auto;
    max-width: 1148px;
    min-width: 970px;
    padding: 16px;
    background: #ebe5b7 url(../imagens/bg-rodape.png) repeat-x top;
}
#rodape h3{
    font-size: 0.9em;
    text-align: center;
    background-image: linear-gradient(to right, #6f6838, #bdb78a87);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;    
}